@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;

  }
}

body {
  background-color: #111010;
  font-family:Arial, Helvetica, sans-serif
}

/* --- Status Circle --- */

.status-circle {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 5px solid;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.status-circle.animate {
  animation: pulse 0.8s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* Github Repo */


.gradient-border {
  position: relative;
  padding: 10px 20px;
  background: #111010;
  margin: 5px;
  height: 17vh;
  border-radius: 10px;
}

.gradient-border::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background-image: linear-gradient(45deg, #01dc84, #06b6d3);
}

/* ScollBar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg,#01dc84, #06b6d3) border-box;
}
::-webkit-scrollbar-track {
  background-color: #111010
}


/* Technolo */


.gradient-border-skills {
  position: relative;
  padding: 10px 20px;
  background: #111010;
  margin: 5px;
  height: 6vh;
  border-radius: 10px;
}

.gradient-border-skills::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background-image: linear-gradient(45deg, #01dc84, #06b6d3);
}